body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

/* .all-prod-container {
  display: flex;
} */

.all-products {
  justify-content: center;
  display: inline-flex;
  flex-wrap: wrap;
  padding: 0 3em;

  a:visited {
    text-decoration: none;
    color: black;
  }
}

.all-products.one-product {
  margin-top: 5em;
  margin-left: 3em;
}

.product {
  display: flex;
}
